<h3>Форсированное изменение курса (USD)</h3>
<form action="/admin" method="post">
  <input style="width: 380px" name="currency" type="text" placeholder="Пожалуйста введите значение курса ...">
  <button>Submit</button>
</form>